In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
AEdata = pd.read_csv("cleaned_AE_data.csv")

In [4]:
AEdata['Period'] = pd.to_datetime(AEdata['Period'])

In [5]:
AEdata = AEdata.set_index('Period')

In [7]:
Emergency_admissions = AEdata['Total Emergency Admissions']

## 1. Split main dataset into Train Validation and Hold subsets of data
## Train (70%, 84), Validation (20%, 24), Hold (10%, 12). Total rows 120

In [8]:
# Training dataset (70%, 84)
traindata = Emergency_admissions.iloc[0:84]

In [9]:
# Validation dataset (20%, 24)
valdata = Emergency_admissions.iloc[83:108]

In [10]:
# Hold dataset (10%, 12)
hold = Emergency_admissions[107:115]

In [11]:
traindataf = traindata.to_frame().apply(np.int64)

In [12]:
# Renmae variable now as a dataframe
traindataf.rename(columns={'Total Emergency Admissions':'Emadmissions'})

            Emadmissions
Period
2010-08-01        425702
2010-09-01        424900
2010-10-01        436215
2010-11-01        429099
2010-12-01        452728
...                  ...
2017-03-01        509805
2017-04-01        471328
2017-05-01        505843
2017-06-01        491206
2017-07-01        499259

[84 rows x 1 columns]

In [13]:
valdataf = valdata.to_frame().apply(np.int64)

In [14]:
valdataf.rename(columns={'Total Emergency Admissions':'Emadmissions'})

            Emadmissions
Period
2017-07-01        499259
2017-08-01        486074
2017-09-01        486799
2017-10-01        513217
2017-11-01        513019
2017-12-01        520803
2018-01-01        526045
2018-02-01        476867
2018-03-01        526066
2018-04-01        503393
2018-05-01        533457
2018-06-01        513254
2018-07-01        529932
2018-08-01        517299
2018-09-01        510322
2018-10-01        546022
2018-11-01        545357
2018-12-01        544903
2019-01-01        564035
2019-02-01        505722
2019-03-01        555457
2019-04-01        535226
2019-05-01        547382
2019-06-01        528801
2019-07-01        554069

###  4.3 Build Target and Features datasets based on Traindata_scaled dataset

#### 1-2 Target dataset

In [20]:
#### 1-2 Target dataset

In [21]:
Y_train = traindata.iloc[5:,]

In [27]:
Y_train.head()

Period
2011-01-01    442003.714286
2011-02-01    401206.428571
2011-03-01    446845.571429
2011-04-01    419243.285714
2011-05-01    427276.571429
Name: Total Emergency Admissions, dtype: float64

In [22]:
#### 2-2 Features dataset from Traindata_scaled dataset

In [23]:
total_lags = 5

In [24]:
def get_features(data,total_lags):
    col_list=[]
    for time_lag in range(total_lags):
        Lag_i = pd.DataFrame(data.shift(time_lag+1,axis=0,fill_value=0))
        col_list.append(Lag_i)
    features_array = pd.concat(col_list,axis=1)
    trunc_dataset = features_array.iloc[total_lags:]
    return trunc_dataset

In [25]:
X_train = get_features(traindata,total_lags)

In [26]:
X_train

,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions
Period,,,,,
2011-01-01,452728.714286,429099.000000,436215.000000,424900.000000,425702.000000
2011-02-01,442003.714286,452728.714286,429099.000000,436215.000000,424900.000000
2011-03-01,401206.428571,442003.714286,452728.714286,429099.000000,436215.000000
2011-04-01,446845.571429,401206.428571,442003.714286,452728.714286,429099.000000
2011-05-01,419243.285714,446845.571429,401206.428571,442003.714286,452728.714286
...,...,...,...,...,...
2017-03-01,447688.000000,492273.000000,497915.000000,489326.000000,492983.000000
2017-04-01,509805.000000,447688.000000,492273.000000,497915.000000,489326.000000
2017-05-01,471328.000000,509805.000000,447688.000000,492273.000000,497915.000000
2017-06-01,505843.000000,471328.000000,509805.000000,447688.000000,492273.000000
2017-07-01,491206.000000,505843.000000,471328.000000,509805.000000,447688.000000

In [59]:
total_lags = 5

In [80]:

lst=["a","b","c","d","e","f"]
lst_rev=[]
lst_rev.append(lst[::-1])

In [81]:
lst

['a', 'b', 'c', 'd', 'e', 'f']

In [82]:
lst_rev

[['f', 'e', 'd', 'c', 'b', 'a']]

In [ ]:
### As we want to revert the columns the change must be applied on the range() function
#

## This is the reversed dataframe

In [102]:
def get_features(data,total_lags):
    col_list=[]
    for time_lag in range(total_lags,0, -1):
        Lag_i = pd.DataFrame(data.shift(time_lag+1,axis=0,fill_value=0))
        col_list.append(Lag_i)
        features_array = pd.concat(col_list,axis=1)
        trunc_dataset = features_array.iloc[total_lags:]
    return trunc_dataset

In [103]:
X_train_test = get_features(traindata,total_lags)

In [106]:
type(X_train_test)

pandas.core.frame.DataFrame

In [108]:
X_train_test[0:10]

,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions,Total Emergency Admissions
Period,,,,,
2011-01-01,0.000000,425702.000000,424900.000000,436215.000000,429099.000000
2011-02-01,425702.000000,424900.000000,436215.000000,429099.000000,452728.714286
2011-03-01,424900.000000,436215.000000,429099.000000,452728.714286,442003.714286
2011-04-01,436215.000000,429099.000000,452728.714286,442003.714286,401206.428571
2011-05-01,429099.000000,452728.714286,442003.714286,401206.428571,446845.571429
2011-06-01,452728.714286,442003.714286,401206.428571,446845.571429,419243.285714
2011-07-01,442003.714286,401206.428571,446845.571429,419243.285714,427276.571429
2011-08-01,401206.428571,446845.571429,419243.285714,427276.571429,413320.857143
2011-09-01,446845.571429,419243.285714,427276.571429,413320.857143,425797.857143
2011-10-01,419243.285714,427276.571429,413320.857143,425797.857143,410554.285714

In [111]:
X_train_array = np.array(X_train_test)

In [112]:
X_train_array.shape

(79, 5)

In [115]:
## Copy dataset
X_train_array[:,:,np.newaxis].shape

(79, 5, 1)

In [ ]:
# 75 samples 
# 5 sequence lags
# 1 feature

In [114]:
a

(79, 5)

## Do the validation

In [ ]:
#### 2-2 Validation dataset

In [ ]:
# Reverse order lags for X_val 

X_VAL

In [ ]:
Y_VAL

In [ ]:
### BUILD THE MODEL

In [ ]:
# Three layers the first two with 20 neurons on the first two layers
# last layer 1 neuron, because we forecast univariate TS
model4 = Sequential()
model4.add(SimpleRNN(5,input_shape=(5,1))
model4.add(Dense(1,activation="Relu"))

In [ ]:
5